.internship-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    margin-top: 110px;
}

.internship-title {
    text-align: center;
    font-size: 2.8em;
    margin-bottom: 20px;
    color: orange;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.internship-title::after {
    content: '';
    display: block;
    height: 4px; 
    margin-top: 10px;
    background-color: navy;

    border-radius: 5px; 
    width: 5%; 
    margin-left: auto;
    margin-right: auto; 
}

.internship-intro {
    text-align: center;
    margin-bottom: 40px;
}

.internship-description {
    font-size: 1.4em;
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); 
    }
}

.internship-image {
    width: 50%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    animation: zoomInOut 2s infinite;
    margin-top: 25px;
    cursor: pointer;
}


.internship-tasks {
    margin-top: 40px;
}

.tasks-title {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 20px;
    color: orange;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tasks-title::after {
    content: '';
    display: block;
    height: 4px; 
    margin-top: 10px;
    background-color: navy;

    border-radius: 5px; 
    width: 5%; 
    margin-left: auto;
    margin-right: auto; 
}

.tasks-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.task-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.task-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.task-image {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    animation: slideAnimation 4s ease-in-out infinite;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(-100%);
        opacity: 0; 
    }
    50% {
        transform: translateX(0); 
        opacity: 1; 
    }
    100% {
        transform: translateX(100%); 
        opacity: 0; 
    }
}


.task-item h6 {
    font-size: 1em;
    color: navy;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.internship-conclusion {
    margin-top: 50px;
    font-size: 1.4em;
    color: black;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 768px) {
    .tasks-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .tasks-list {
        grid-template-columns: 1fr;
    }
}
