


    .icon {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
 

.sticky-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    font-size: 24px;
}

.icon:hover {
    transform: scale(1.1);
}

.whatsapp-icon {
    background-color: #0F52BA; 
    color: #E0FFFF; 
    border: 2px solid #1E90FF; 
    border-radius: 58px; 
    box-shadow: 0 0 8px #1E90FF; 
}

.contact-icon {
    background-color: #1C1CF0; 
    color: #E0FFFF; 
    border: 2px solid #4169E1; 
    border-radius: 58px; 
    box-shadow: 0 0 8px #4169E1; 
}

.up-arrow-icon {
    background-color: #0000FF; 
    color: #FFFFFF; 
    border: 2px solid #5B84F1; 
    border-radius: 58%; 
    box-shadow: 0 0 10px #5B84F1; 
}
